<!DOCTYPE html>
<html lang="zxx">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/fonts.css">
   <link rel="stylesheet" href="css/reset.css">
   <link rel="stylesheet" href="css/style.css">
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <script src="js/script.js"></script>
   <title>Lesson 2</title>
</head>
<body>
   <style>
   .passwod__ivan{
      color: blue;
   }
   .pasword__radomn{
      color: red;
   }
     

   </style>
   <div class="wrapper">
      <main class="main__container">
     <div id="app">
      <div>
         <label >
            Login
               <input type="text"  v-model="loginUser">
            </label>
      </div>
      <div>
         <label >
            Password
               <input type="password"  v-model="passwordUser">
            </label>
      </div>
      <button  @click="registrationIsAllowed">Go</button>
      <div>
         <img v-if="message" class="main__smile" src="img/smile-svgrepo-com.svg" alt="">
         <p :class="loginIvan" v-else-if="error">Помилка</p>
      </div>
 
    
   
    
 
     </div>
 
      </main>
   

</div>
<script>

//Задача 1. Вводимо логіна і пароль. Якщо логін вірний відображаємо смайл. Якщо ні, то:
//1) якщо логін = Іван – колір повідомлення про помилку синій
//2) якщо хтось інший, то колір повідомлення червоний


   
   
   const {createApp} = Vue
   
  createApp({
   data(){
      return{
         loginUser:null,
         passwordUser:null,
       message: false,
       error:false,


         

        

      }
   

   
   },
   computed:{
      loginIvan(){
         let messagColor 
         if (this.loginUser =='Ivan') {
           messagColor = 'passwod__ivan'
           
         }else messagColor='pasword__radomn'
        
         return  messagColor


      },
     

   },
 methods:{
   registrationIsAllowed(){
       
       if (this.loginUser == 'Veka'&& this.passwordUser == 1234) {
         
           this.message = true

           this.error=false
          
        
       } else   this.error= true
       
      
       
        
        

     },
     
  
 }



  }).mount('#app')
   

</script>

</body>
</html>