<!DOCTYPE html>
<html lang="zxx">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/fonts.css">
   <link rel="stylesheet" href="css/reset.css">
   <link rel="stylesheet" href="css/style.css">
   <script src="js/script.js"></script>
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <title>Lesson 2</title>
</head>
<body>
   <style>
      .business-class_bg{
         background: url('img/business-class.jpeg') 0 0 no-repeat;
      }
      .econom-class_bg{
         background: url('img/Sky.jpeg') 0 0 no-repeat;
      }
        
        
   
      </style>
   <div class="wrapper">
      <main class="main__container">
         <h2>завдання № 2</h2>
         <div id="app">  
          <div :class="['main__block', isBg]">
            <div >
            <select v-model="classSelection">
               <option value="бізнес">Бізнес</option>
               <option value="економ">Економ</option>
            </select>
            </div>
          
      <div v-if="isEconomClass">
            <select >
            <option value="Чіпси">Чіпси</option>
            <option value="Пиво">Пиво</option>
         </select>
      </div>
      <div>
               <select  v-if="isBusinesClass" >
               <option value="Газети">Газети</option>
               <option value="Коньяк">Коньяк</option>
            </select>
         </div>
        <div>
               <select v-if="isBusinesClass">
                  <option value="так">так</option>
                  <option value="ні">нік</option>
               </select>
            </div>
         </div>
        
         </div>
         

 

      </main>
   

</div>
<script>
//  Задача 2. З випадаючого списку вибираємо клас квитка у літаку. Якщо 
//1) бізнес -  виводимо елементи для вибору газети та коньяку (якщо вибрано коньяк, то запропонувати закуску (так/ні)), на фоні зображення бізнес кают 
//2) економ – виводимо елементи для вибору типу пива і чипсів, на фоні хмарки.




  
  const {createApp} = Vue
 
 createApp({
  data(){
     return{ 
      classSelection: 'економ',
     

      
      
     }
  

  
  },

 methods:{
  

 
},
computed:{
   isEconomClass(){
return this.classSelection === 'економ'
  

   
   },
   isBusinesClass(){
   return this.classSelection === 'бізнес'
   
   },
   isBg(){
      let classBg
      if (this.classSelection === 'економ') {
         classBg = 'econom-class_bg'
      }else classBg = 'business-class_bg'
return classBg
   }
   
   
   
 
  
}

}).mount('#app')
  
  </script>
</body>
</html>