body {
  font-family: "Larsseit", sans-serif;
  background: rgb(0, 64, 93);
  color: #fff;
}
.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 20;
  padding: 30px 15px;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 100%;
}

main h2 {
  padding: 50px 0;
  text-transform: uppercase;
}
table,
th,
td {
  border: 1px solid black;
  padding: 3px;
}
td,
th {
  padding: 10px;
}
table {
  display: inline-block;
}

.shop-receip {
  border: 2px solid #212121;
  max-width: 1000px;
  margin: 0 auto;
}
.shop-receip__header {
  text-align: center;
}
.shop-receip__header h1 {
  text-align: center;
  padding: 10px;
}
.shop-receip__header p {
  text-align: center;
  padding: 5px;
}
.shop-receip__products {
  display: flex;
}
.products-shop-receip {
}
.products-shop-receip__price {
}
.quantityshop-receip__column {
  display: flex;
  border: 2px solid #212121;
  padding: 10px;
  justify-content: space-between;
  gap: 20px;
}
.shop-receip__item_01 {
  border: 2px solid #212121;
  padding: 10px;
}
.quantityshop-receip__numeric {
  border: 2px solid #212121;
  padding: 10px;
}
.shop-receip__quantity {
  border: 2px solid #212121;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quantityshop-receip {
}
.quantityshop-receip__item_01 {
  border: 2px solid #212121;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 40px;
}
.quantityshop-receip__item_02 {
  border: 2px solid #212121;
  padding: 10px;
  margin-bottom: 10px;

  min-height: 40px;
}
.quantityshop-receip__item_03 {
  border: 2px solid #212121;
  padding: 10px;
  min-height: 40px;
}
.shop-receip__total {
  padding: 10px;
  line-height: 1.5;
  font-size: 24px;
}

.wrapper {
}
.main {
}
.main__container {
}
.task_hover:hover {
  background: #3d0000;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.task_hover {
  border: 3px solid #960569;
  padding: 20px;
  min-height: 200px;
  margin: 10px;
}
.main__task {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.task {
}

h3 {
  text-align: center;
  padding: 10px;
}
p {
  font-size: 24px;
  line-height: 1.5;
}
@media (max-width: 700px) {
  .main__task {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  p {
    font-size: 18px;
    line-height: 1.5;
  }
}

/*================================================================================*/

/*lessons2*/

.main-img {
  max-width: 300px;
  height: 200px;
}
.main-img img {
  max-width: 100%;
  max-width: 300px;
  height: 200px;
}
.main__container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__mount-inp {
  min-width: 300px;
  margin-bottom: 10px;
}

.main__recommendation {
  margin-bottom: 10px;
}
div {
  margin-bottom: 20px;
}
button {
  padding: 10px;
  border: 1px solid black;
}
button:hover {
  background-color: #3d0000;
  transition: all 0.3s;
}
button:active {
  background-color: #d11c1c;
  transition: all 0.3s;
}
.main__smile {
  height: 200px;
  width: 200px;
}

.main__block {
  padding: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.language-trainer__img {
  width: 200px;
  height: 200px;
}
.language-trainer__img img {
  width: 100%;
  height: 100%;
}

.web-pages__title {
  padding-bottom: 10px;
}

.block {
}
.web-pages {
  border: 2px solid #212121;
  padding: 10px;
}
.web-pages__header {
  display: flex;
  margin: 0;
  gap: 20px;
}
.web-pages__favicon {
  margin: 0;
  width: 48px;
  height: 48px;
}
.web-pages__favicon img {
  max-width: 100%;
}

.web-pages__link {
  display: block;
  padding-bottom: 10px;
  font-size: 24px;
  color: #0000ff;
}

.web-pages__domen {
  margin-bottom: 10px;
}
.web-pages__domen {
  margin-bottom: 10px;
}

.restaurant {
}
.restaurant__header {
}
.restaurant__input {
}
.restaurant__button {
}
.restaurant__body {
  justify-content: center;
  display: flex;
}
.restaurant__waiting-list {
}
.waiting-list {
}
.list {
}
.waiting-list__header {
  border: #3d0000 2px solid;

  margin: 0;
  padding: 10px;
  min-width: 200px;
}
.waiting-list__body {
  padding: 10px;
}
.waiting-list__item {
}
.restaurant__processing-list {
}
.processing-list {
}
.processing-list__header {
  border: #3d0000 2px solid;
  margin: 0;
  min-width: 200px;
  padding: 10px;
}
.processing-list__body {
  padding: 10px;
}
.processing-list__item {
}
.restaurant__completed-list {
}
.completed-list {
}
.completed-list__header {
  border: #3d0000 2px solid;
  margin: 0;
  padding: 10px;
  min-width: 200px;
}
.completed-list__body {
  padding: 10px;
}
.completed-list__item {
}
